
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Employee Offset Report</h2>
        <p>
            Nam eget viverra justo. Aliquam pretium scelerisque velit, non ultrices leo luctus non. Sed non turpis interdum, congue libero a, sodales enim. Nam felis dui, varius ut arcu quis, lobortis tincidunt lacus. Donec pharetra lectus purus, at luctus orci fringilla eu. Integer imperdiet dolor vehicula rhoncus tristique. Sed in nulla.  
        </p>
        <p><a class="btn btn-default" href="#">View Report &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Offset Report</h2>
        <p>Vestibulum bibendum tristique diam non posuere. Curabitur hendrerit ultricies ligula sit amet condimentum. Nullam rhoncus dignissim tortor, sit amet ullamcorper massa laoreet eget. Integer tincidunt ac massa vitae tristique. Vivamus iaculis auctor turpis, at sollicitudin magna cursus quis. Duis at ligula a dui tempus pulvinar quis id nisl. Phasellus tempus..</p>
        <p><a class="btn btn-default" href="#">View Report &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project List</h2>
        <p>Fusce imperdiet varius ultricies. Donec pulvinar, dui sit amet blandit tempor, leo neque lobortis erat, a aliquet odio metus non nisi. Mauris non bibendum orci. Duis sed tellus sed mauris fermentum mattis. Proin et quam congue, varius nisi porttitor, dictum nibh. Aenean quis eleifend nisl. Phasellus faucibus massa vitae purus. </p>
        <p><a class="btn btn-default" href="#">View Report &raquo;</a></p>
    </div>
</div>